@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --tournated-red: #8C2135;
  --tournated-lightRed: #eedee1;
  --tournated-grey: #425466;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
